.product-card{
    border:1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: rgb(50, 50, 50);
}


.product-card img {
    max-width: 95%;
}