.filter-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin-left: 5%;
}

.filter-buttons p {
  color: white;
  background-color: rgb(50, 50, 50);
  padding: 5px;
  border-radius: 12px;
}